<% flash.each do |type, msg| %>
    <div class="confirmation-page__container">
        <div class="confirmation-page__wrapper">
            <div class="confirmation__icon">
                <i class="fa fa-times-circle-o"></i>
            </div>
            <div class="confirmation__button">
                <div class="confirmation__button-content">
                    <p class="confirmation__button-content-info"><%= msg %></p>
                </div>

                <%= link_to('RETURN BACK', root_path, class: "confirmation__button") %>
            </div>
        </div>
    </div>
<% end %>