<% total = 0 %>

<div class="cart__metaheader" style="padding: 0 .3rem;">
    <%= link_to(cart_catalogue_path) do %>
        <i class="fa fa-long-arrow-left"></i> View Complete Shopping Cart
    <% end %>
</div>

<% if @cart_items["ShoppingCartItems"].present? %>

    <div class="cart__header" style="padding: 0 .3rem;">
        <h2>SHOPPING CART</h2>
        <p><%= @cart_items["recordcount"] %> Item(s)</p>
    </div>

    <div id="items__wrapper" class="items__wrapper">
        <% @cart_items["ShoppingCartItems"].each do |cart_item| %>
            <% quantity = cart_item["Quantity"] %>

            <div id="item_wrapper_<%= cart_item["ContractItemID"] %>" class="item__content">
                <div class="item__description">
                    <p><%= cart_item["Name"] %></p>
                </div>
                <div class="item__quantity">
                    <button id="decrement"> - </button>
                    <input type="number" class="quantity-input" size="4" step="1" min="1" max="" value="<%= quantity %>" readonly>
                    <button id="increment"> + </button>
                </div>
                <div class="item__price">
                    <% quantity_total = cart_item["UnitPrice"].to_f * quantity %>
                    <h4>R <%= '%.2f' % quantity_total %></h4>
                    <% total += quantity_total %>
                </div>
                <div class="shopping-cart__item-delete-btn">
                    <%# link_to("Delete", item_path, method: :delete, class: "delete_item", id: "delete-item", remote: true, data: { turbolinks: false, shoppingCart: session[:ShoppingCart], itemID: cart_item["ContractItemID"]} ) %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="item__subtotal">
        <h4>Subtotal:</h4>
        <h3><%= '%.2f' % total %></h3>
    </div>

    <form id="cxml_form" method="POST" action="<%= session[:user]["ReturnURL"] %>" enctype="application/x-www-form-urlencoded">
        <input id="cXML-urlencoded" type="hidden" name="cXML-urlencoded" value="<%= @xml.html_safe %>" >
        <div class="item__checkout"> 
           <input type="submit" id="checkout" value="Return To Coupa">
        </div>
    </form>

<% else %>
    <div style="color:#6a6a6a; display: flex; padding: 5em 0; justify-content: center;" id="items__wrapper" class="items__wrapper">
        <h2>NO ITEMS IN THE CART</h2>
    </div>   
<% end %>

<%= javascript_pack_tag 'items' %>