
<% total = 0 %>

<div class="shopping-cart">
    <div class="shopping-cart__container">
        <div class="shopping-cart__wrapper">

            <div class="shopping-cart__items-container">

                <div class="shopping-cart__header--wrapper">
                    <div class="shopping-cart__header shopping-cart__header--white">
                        <h1>SHOPPING CART</h1>
                        <h1><%= @cart_items["recordcount"] %> ITEMS</h1>
                    </div>
                </div>

                <div class="shopping-cart__items--wrapper">                     
                    <% if session[:CartItems]["ShoppingCartItems"].present? %>
                                
                        <% @cart_items["ShoppingCartItems"].each do |cart_item| %>
                            <% quantity = cart_item["Quantity"] %>

                            <div id="shopping-cart__item--<%= cart_item["ID"] %>" class="shopping-cart__item">
                                <div class="shopping-cart__item-image">
                                    <img src="" alt="">
                                </div>
                                <div class="shopping-cart__item-name">
                                    <p><%= cart_item["Name"] %></p>
                                </div>
                                <div id="shopping-cart__item-quantity--<%= cart_item["ID"] %>" class="shopping-cart__item-quantity">
                                    <%= button_tag( " - ", class: "decrement", id: "decrement", data: { shoppingCart: session[:ShoppingCart], shoppingCartItemID: cart_item["ID"] } ) %>
                                        <input type="number" value="<%= quantity %>" id="quantity-input--<%= cart_item["ID"] %>" class="quantity-input" readonly>
                                    <%= button_tag(" + ", class: "increment", id: "increment", data: { shoppingCart: session[:ShoppingCart], shoppingCartItemID: cart_item["ID"] }) %>
                                </div>
                                <div class="shopping-cart__item-price">
                                    <% quantity_total = cart_item["UnitPrice"].to_f * quantity %>
                                    <h3>R <%= '%.2f' % quantity_total %></h3>
                                    <% total = total + quantity_total %>
                                </div>
                                <div class="shopping-cart__item-delete-btn">
                                    <%= button_tag(class: "remove_link", id: "remove-link", data: { shoppingCart: session[:ShoppingCart], shoppingCartItemID: cart_item["ID"] } ) do %>
                                        <i class="fa fa-remove"></i>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>

                <div class="shopping-cart__continue">
                    <%= link_to(items_path, class: "shopping-cart__continue-btn") do %>
                        <i class="fa fa-long-arrow-left"></i> Continue Shopping
                    <% end %>
                </div>

            </div>

            <div class="shopping-cart__order-summary">
                <div class="shopping-cart__header--wrapper">
                    <div class="shopping-cart__header shopping-cart__header--blue">
                        <h1>ORDER SUMMARY</h1>
                    </div>
                </div>

                <div class="item__subtotal">
                    <h4>Subtotal:</h4>
                    <h3><%= '%.2f' % total %></h3>
                </div>

                <form id="cxml_form" method="POST" action="<%= session[:user]["ReturnURL"] %>" enctype="application/x-www-form-urlencoded">
                    <input id="cXML-urlencoded" type="hidden" name="cXML-urlencoded" value="<%= @xml.html_safe %>" >
                    <div class="item__checkout"> 
                        <input type="submit" id="checkout" value="Return To Coupa">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'items' %>