<%# @WEE %>


// function delete_in_cart(button, shoppingCartID, itemID){
//   var requestURL = "/items/" + itemID

//   $.ajax({
//       url: requestURL,
//       method: "DELETE",
//       data: { shoppingCartID: shoppingCartID, contractItemID: itemID },
//       success: function(resp){
//           if (resp.error) console.log(resp.message)
//           else{
//               console.log(resp)
//               $("#item_wrapper_" + itemID)
//           }
//       },
//       async: false
//   });
// }
