<%= render 'header' %>

<section class="search-and-cart">
    <div class="search-and-cart__container">
        <div class="search-wrapper">
            <input type="text" placeholder="Searching for...">
        </div>
    </div>
</section>

<section class="catalogue">
    <% if @items.present? %>
        <div class="catalogue__products">
            <div class="catalogue__products-items">
                <% @items.each do |item| %>
                    <div class="item">
                        <div class="item__image">
                            <img src="https://suppliersite.azure-api.net/file?FileGUID=<%= item["FileGUID"] %>" alt="">
                        </div>
                        <div class="item__description">
                            <div class="description__name">
                                <h3><%= item["Name"] %></h3>
                            </div>
                            <div class="description__information">
                                <p><%= item["Description"] %></p>
                            </div>
                        </div>
        
                        <div class="item__price-btns-wrapper">
                            <div class="price">
                                <h4>R<%= '%.2f' % item["Price"] %></h4>
                            </div>
                            <div class="btns">
                                <%= link_to('View More', view_more_path(id: item["contractitemid"], file: item["FileGUID"]), id: "view-more") %>
                                <%= button_tag("Add To Cart", class: "add_to_cart", id: "add-to-cart", data: { user: session[:user], shoppingCart: session[:ShoppingCart], itemID: item["contractitemid"], disable_with: "<i class='fa fa-spinner fa-spin' style='color:#00086B;'></i>wait..".html_safe}) %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <div id="shopping__cart" class="shopping__cart" style="border-top: 1px solid #eeeeee; padding: 1rem 0;">
                 
            </div>
        </div>
    <% else %>
        <div class="no-items" style="margin-top: 5rem; font-size: 4rem; color: #6a6a6a;">
            <p style="color: #6a6a6a;">NO ITEMS</p>
        </div>
    <% end %>
</section>

<%= javascript_pack_tag 'items' %>
<%= javascript_pack_tag 'catalogue' %>