$("#shopping__cart")
    .html("<%= escape_javascript(render partial: 'items/show', locals: { cart_items: @cart_items }) %>");

$('#decrement').on( "click", function(){
    qnty = parseInt($('.quantity-input').val())

    if (qnty > 1){
        $('.quantity-input').val(qnty - 1)
    }
});

$('#increment').on( "click", function(){
    qnty = parseInt($('.quantity-input').val())
    $('.quantity-input').val(qnty + 1)
});

function show_error(message) {
    var error = `<div class="alert alert-danger"> ${message} </div>`;
    $(".page-breadcrumb").after($(error));
    setTimeout(function () { $(".alert").remove(); }, 5000);
}

$('.delete_item').click(function(e){
    e.preventDefault()

    var shoppingCart = $(this).data("shoppingcart");
    var shoppingCartID = shoppingCart["ID"];
    var itemID = $(this).data("itemid")

    console.log("ITEM -------------------- ")
    console.log(shoppingCart)
    console.log(shoppingCartID)
    console.log(itemID)

    delete_in_cart(this, shoppingCartID, itemID);
});

function delete_in_cart(button, shoppingCartID, itemID){
    var requestURL = "/items/" + itemID

    $.ajax({
        url: requestURL,
        method: "DELETE",
        data: { shoppingCartID: shoppingCartID, contractItemID: itemID },
        success: function(resp){
            if (resp.error) console.log(resp.message)
            else{
                console.log(resp)
                $("#item_wrapper_" + itemID)
            }
        },
        async: false
    });
}