<%= render 'header' %>

<div class="breadcrumbs">
    <ul>
        <li class="breadcrumbs__item">
            <%= link_to 'Items', items_path, class: "breadcrumbs__link" %>
        </li>
        <li class="breadcrumbs__item"><p class="breadcrumbs__link breadcrumbs__link--active"><%= @item["BuyerItem"]["ItemName"] %></p></li>
    </ul>
</div>

<div class="view__more-container">
    <div class="view__more-wrapper">
        <div class="view__more-image">
            <img src="https://suppliersite.azure-api.net/file?FileGUID=<%= @item["FileGUID"] %>" alt="IMAGE">
        </div>
        <div class="view__more-description">
            <div class="description__name">
                <h1><%= @item["BuyerItem"]["ItemName"] %></h1>
            </div>
            <div class="description__total-price">
                <h4>R <%= '%.2f' % @item["Price"] %></h4>
            </div>
            <div class="description__content">
                <p><%= @item["BuyerItem"]["Description"] %></p>
            </div>
            <div class="description__total">
                <p>Quantity:</p>
                <div class="description__total-quantity">
                    <button id="decrement"> - </button>
                    <input type="number" class="quantity-input" size="4" step="1" min="1" max="" value="1" readonly>
                    <button id="increment"> + </button>
                </div>
            </div>
            <div class="description__add-to-cart">
                <%= link_to('BACK', items_path) %>
                <%= button_tag("ADD TO CART", class: "add_to_cart", id: "add-to-cart", data: { user: session[:user], shoppingCart: session[:ShoppingCart], itemID: @item["ContractItemID"], disable_with: "<i class='fa fa-spinner fa-spin' style='color:#00086B;'></i>wait..".html_safe}) %>
            </div>
        </div>
    </div>

    <div id="shopping__cart" class="shopping__cart" style="border-top: 1px solid #eeeeee; padding: 1rem 0;">
                 
    </div>
    
</div>

<%= javascript_pack_tag 'items' %>
<%= javascript_pack_tag 'catalogue' %>