// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------- */
/* [ GLOBAL ] */

:root {
    --primary-color: #00086b;
    --secondary-color: #6a6a6a;
    --tertiary-color: #eeeeee ;
}

button {
    outline: none;
    border:none;
    background: none;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 1rem;
    min-height: 100vh;
}

/* ------------------------------------------------- */
/* [ HEADER ] */

// header {
//     padding: 2rem 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 1rem;
// }

// header .header__logo a {
//     color: var(--primary-color);
// }



// header .header__profile {
//     display: flex;
// }

// header .header__profile .cart-icon-wrapper {
//     width: 50px;
//     height: 100%;
//     border-right: 1px solid var(--tertiary-color);
// }

// header .header__profile .cart-icon-wrapper {
//     padding: 1rem;
//     position: relative;
// }

// header .header__profile .cart-icon-wrapper .fa {
//     font-size: 2rem;
//     color: var(--primary-color);
// }

// header .header__profile .cart-icon-wrapper .cart-quantity {
//     background-color: tomato;
//     color: var(--tertiary-color);
//     width: 17px;
//     height: 17px;
//     font-size: .9rem;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     right: 25px;
//     top: 7px;
// }

// header .header__profile .profile__name {
//     width: 50px;
//     padding: 0 2rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
// }

// .header__profile .profile__name .dropdown__list {
//     position: absolute;
//     top: 70px;
//     right: 0;
//     background: var(--tertiary-color);
//     width: 115px;
//     height: 0;
//     display: none;
//     border-top: 1px solid var(--secondary-color);
// }

// .header__profile .profile__name .dropdown__list.active {
//     display: block;
// }

// .header__profile .profile__name .dropdown__list .links {
//     width: 100%;
// }

// .header__profile .profile__name .dropdown__list .links a {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0.5em;
// }

// .header__profile .profile__name .dropdown__list .links a:hover {
//     background: var(--secondary-color);
// }

// header .header__profile button {
//     color: var(--primary-color);
//     display: flex;
//     justify-content: center;
//     align-items: center; 
// }

// header .header__profile button i {
//     margin-right: 7px ;
//     margin-bottom: 4px;
// }

// a {
//     text-decoration: none;
// }


header {
    width: 100%;
    height: 60px;
    margin-bottom: 1em;
}



.header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ------------------------- */
/* [ HEADER LOGO ] */

.header__logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5em;
}

.header__logo a {
    color: var(--primary-color);
}

/* ------------------------- */
/* [ HEADER LINKS CART AND USER ] */

.header__navigation-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__navigation-links .navigation__cart {
    position: relative;
    width: 110px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigation-links .navigation__cart button {
    outline: none;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.header__navigation-links .navigation__cart .cart-quantity {
    position: absolute;
    background: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 13px;
    right: 20px;
}

.header__navigation-links .navigation__cart .cart-quantity {
    color: var(--tertiary-color);
    font-size: .7em;
}

/* ------------------------- */
/* [ HEADER LINKS PROFILE ] */

.header__navigation-links .navigation__profile {
    min-width: 110px;
    width: 100%;
    cursor: pointer;
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--tertiary-color);
    justify-content: center;
}

.header__navigation-links .navigation__profile .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigation-links .navigation__profile .content p {
    margin-top: 2px;
    margin-right: 8px;
    color: var(--primary-color);
}

.header__navigation-links .navigation__cart i,
.header__navigation-links .navigation__profile .content i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.header__navigation-links .navigation__profile:hover {
    background: #eeeeee;
}

/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
/* [ HEADER LINKS PROFILE ] */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */

.header__navigation-links .navigation__modal-menu.active {
    display: flex;
}

.header__navigation-links .navigation__modal-menu {
    position: absolute;
    right: 5px;
    top: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    padding: 1em .5em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background: var(--tertiary-color);
    border-radius: .5em;
    transition: .3s ease;
    z-index: 3;
}

.header__navigation-links .navigation__modal-menu .menu-name {
    padding: .5rem;
    font-size: .7em;
    text-align: center;
    width: 100%;
}

.header__navigation-links .navigation__modal-menu .menu-links {
    border-top: 1px solid #ddd;
    width: 100%;
}

.header__navigation-links .navigation__modal-menu .menu-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
} 

.header__navigation-links .navigation__modal-menu .menu-links ul li {
    margin: .2rem 0;
    width: 100%;
}

.header__navigation-links .navigation__modal-menu .menu-links ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    color: var(--primary-color);
}
.header__navigation-links .navigation__modal-menu .menu-links ul li a:hover {
    background: #d2d2d2;
}

.header__navigation-links .navigation__modal-menu .menu-links ul li a.logout {
    color: #b20000;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* [ SEARCH AND CART ] */

.search-and-cart__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.search-and-cart__container .search-wrapper input {
    width: 300px;
    padding: 1rem ;
    border: 1px solid var(--secondary-color);
    border-radius: 2rem;
}

// .search-and-cart__container .cart-icon-wrapper {
//     padding: 1rem;
//     position: relative;
// }

// .search-and-cart__container .cart-icon-wrapper .fa {
//     font-size: 2rem;

//     color: var(--primary-color);
// }

// .search-and-cart__container .cart-icon-wrapper .cart-quantity {
//     background-color: tomato;
//     color: var(--tertiary-color);
//     width: 17px;
//     height: 17px;
//     font-size: .9rem;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     right: 7px;
//     top: 7px;
// }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* --------------------------------[ CATALOGUE ]----------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */



.catalogue {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // background: red;
}

.catalogue__products {
    width: 100%;
    display: flex;
    position: relative;
}

.catalogue__products .catalogue__products-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    // grid-gap: 1rem;
    position: relative;
}

.catalogue__products .catalogue__products-items .item {
    border-radius: 1rem;
    // margin-right: 2rem;
    margin-bottom: 3rem;
    height: 450px;
    width: 330px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    transition: .2 ease;
}

.catalogue__products .catalogue__products-items .item:hover {
    transform: scale(1.01);
}

.catalogue__products-items .item .item__image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.catalogue__products-items .item .item__description {
    padding: 0 1rem;
}

.catalogue__products-items .item .description__name {
    height: 3rem;
    display: flex;
    align-items: center;
}

.catalogue__products-items .item .item__description .description__information {
    height: 70px;
    overflow: auto;
}

.catalogue__products-items .item .item__price-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
}

.catalogue__products-items .item .item__price-btns-wrapper .price h4 {
    font-size: 17px;
    font-weight: 600;
    color: var(--secondary-color);
}

.catalogue__products-items .item .item__price-btns-wrapper .btns #view-more {
    color: var(--primary-color);
    font-size: .8rem;
}

// .catalogue__products-items .item .item__price-btns-wrapper .btns #view-more a {
//     text-decoration: none;
//     // color: red;
// }

.catalogue__products-items .item .item__price-btns-wrapper .btns #add-to-cart {
    background: var(--primary-color);
    color: white;
    font-size: .8rem;
    padding: .5rem .7rem;
    border-radius: 1rem;
    margin-left: .5rem;
    border: 1px solid var(--primary-color);
} 

.catalogue__products-items .item .item__price-btns-wrapper .btns #add-to-cart:hover {
    background: transparent;
    color: var(--primary-color);
}

.catalogue__products-items .item .item__price-btns-wrapper .btns #add-to-cart.disabled,
.catalogue__products-items .item .item__price-btns-wrapper .btns #add-to-cart.disabled:hover {
    background-color: rgba($color: #000, $alpha: 0.5);
    border: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
}


/* ------------------------------------------------------ */
/* [ SHOPPING CART ACTIVE ] */

.catalogue__products .shopping__cart {
    position: relative;
    overflow: hidden;
    width: 0px;
    // background: red;
    height: 65vh;
    transition: 0.5s;
}

.catalogue__products .shopping__cart.active {
    width: 500px;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* -------------------[ SHOPPING CART CONTENT ]---------- */ 
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* [ META-HEADER ] */

.shopping__cart .cart__metaheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin: 1em 0;
}

.shopping__cart .cart__metaheader .close-btn {
    font-size: 2rem;
    cursor: pointer;
    transition: .5 ease all;
    color: var(--secondary-color);
}

.shopping__cart .cart__metaheader .close-btn:hover {
    color: var(--primary-color);
}

.shopping__cart .cart__metaheader a {
    color: var(--primary-color);
}

.shopping__cart .cart__metaheader a:hover {
    text-decoration: underline;
}

/* [ HEADER ] */

.shopping__cart .cart__header {
    margin-bottom: 1rem;
    padding: .5rem 0;
    color: var(--secondary-color);
}

.shopping__cart .cart__header h1 {
    margin-bottom: 1rem;
    color: #cbcbcb;
}

.shopping__cart .cart__header span {
    color: #cbcbcb;
}

/* [ PRODUCTS ] */

.shopping__cart .items__wrapper {
    // height: 350px;
    // overflow: auto;
    padding: 0 .5rem;
}

.shopping__cart .items__wrapper .item__content {
    padding: 1em 0;
    border-bottom: 0.6px solid var(--primary-color);
    border-top: 0.6px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}

.shopping__cart .items__wrapper .item__content .item__image {
    width: 50px;
    height: 50px; 
}

.shopping__cart .items__wrapper .item__content .item__image img {
    width: 100%;
    height: 100%;
}

.shopping__cart .items__wrapper .item__content .item__quantity {
    display: flex;
}

.shopping__cart .items__wrapper .item__content .item__description {
    font-size: .9rem;
}

.shopping__cart .items__wrapper .item__content .item__quantity input[type="number"] {
    -moz-appearance: textfield;
    margin: 0;
    font: 1.5rem;
    color: #060329;
    width: 20px;
    text-align: center;
    border: none;
    color: var(--tertiary-color);
    background: var(--primary-color);
}

.shopping__cart .items__wrapper .item__content .item__quantity button {
    color: #060329;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: #fff;
    color: var(--tertiary-color);
}

.shopping__cart .items__wrapper .item__content .item__quantity #decrement {
    padding: .5rem .5rem .5rem 1rem;
    border-radius:45px 0 0 45px ;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.shopping__cart .items__wrapper .item__content .item__quantity #increment {
    padding: .5rem 1rem .5rem .5rem;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 0 45px 45px 0;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* [ SUBTOTAL ] */

.shopping__cart .item__subtotal {
    border-bottom: 0.6px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

/* CHECKOUT BUTTON */

.shopping__cart .item__checkout {
    width: 100%;
    padding: 1rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping__cart .item__checkout input {
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    background: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------


.view__more-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.view__more-wrapper {
    display: flex;
    position: relative;
    width: 70em;
}

// ------------------------------------------------------------
// [ IMAGE ]

.view__more-wrapper .view__more-image {
    height: 100%;
    max-width: 35em;
    width: 100%;
}

.view__more-wrapper .view__more-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// ------------------------------------------------------------
// [ DESCRIPTION ]

.view__more-description {
    height: 100%;
    max-width: 35em;
    width: 100%;
    padding: 0 1em;
}

// ------------------------------------------------------------
// [ DESCRIPTION NAME ]

.view__more-wrapper .description__name {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    height: 50px;
}

// ------------------------------------------------------------
// [ DESCRIPTION CONTENT ]

.view__more-wrapper .description__content {
    padding: 1em 0;
}

.view__more-wrapper .description__total {
    height: 40px;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.view__more-wrapper .description__total p {
    padding: .5em 0;
    display: block;
}

.view__more-wrapper .description__total-quantity {
    height: 100%;
    display: flex;
}

/* ---------------------------[ PRICE ]---------------------- */

.view__more-wrapper .description__total-price {
    height: 50px;
    display: flex;
    align-items: center;
}

.view__more-wrapper .description__total-price h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}


/* [ INPUT ] */
/* [ DECREMENT ] BUTTONS */
/* [ INCREMENT ] BUTTONS */

.view__more-wrapper .description__total .description__total-quantity #decrement {
    padding: .5rem .5rem .5rem 1rem;
    border-radius:45px 0 0 45px ;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.view__more-wrapper .description__total .description__total-quantity #increment {
    padding: .5rem 1rem .5rem .5rem;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 0 45px 45px 0;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.view__more-wrapper .description__total .description__total-quantity input[type="number"] {
    -moz-appearance: textfield;
    margin: 0;
    font: 1.5rem;
    color: #060329;
    width: 20px;
    text-align: center;
    border: none;
    color: var(--tertiary-color);
    background: var(--primary-color);
}

/* [ ADD-TO-CART ] BUTTON */

.view__more-wrapper .description__add-to-cart {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 1em 0;
}

.view__more-wrapper .description__add-to-cart a {
    font-size: .9em;
    font-weight: 600;
    color: var(--primary-color);
}

.view__more-wrapper .description__add-to-cart button {
    color: var(--tertiary-color);
    width: 100%;
    display: block;
    padding: .8rem 0 ;
    font-size: .7rem;
    border-radius: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}

.view__more-wrapper .description__add-to-cart #add-to-cart.disabled,
.view__more-wrapper .description__add-to-cart.disabled:hover {
    background-color: rgba($color: #000, $alpha: 0.5);
    border: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
}


.view__more-wrapper .description__add-to-cart a {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin: 0 .5em;
    width: 100%;
    display: block;
    padding: .8rem 0 ;
    font-size: .7rem;
    border-radius: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}


.breadcrumbs {
    // background-color: turquoise;
    padding: 1.5em 0;
}

.breadcrumbs ul .breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs ul .breadcrumbs__item:not(:last-of-type)::after {
    content: '\203a';
    margin: 0 5px;
    color: var(--secondary-color);
}

.breadcrumbs ul .breadcrumbs__item .breadcrumbs__link {
    text-decoration: none;
    color: var(--primary-color);
}

.breadcrumbs ul .breadcrumbs__item .breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs ul .breadcrumbs__item .breadcrumbs__link--active {
    font-weight: 600;
    color: var(--secondary-color);
    cursor: unset;
}
.breadcrumbs ul .breadcrumbs__item .breadcrumbs__link--active:hover {
    text-decoration: none;
}





// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------



.shopping-cart {
    min-height: 90vh;
    width: 100%;
}

.shopping-cart__wrapper {
    display: flex;
    height: 100%;
    background: #fff;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* -----------------------[ SHOPPING ITEMS ]----------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */


.shopping-cart__items-container {
    flex-basis: 70%;
    background: #fff;
}

.shopping-cart__header--wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.shopping-cart__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin: 0 2em;
    width: 100%;
    height: 100%;
}

.shopping-cart__header--white {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.shopping-cart__header--blue {
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
}

.shopping-cart__items--wrapper {
    margin: 0 2em;
    height: 70vh;
}

.shopping-cart__item {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: .5px solid var(--secondary-color);
}

.shopping-cart__item-image {
    width: 60px;
    height: 60px;
}

.shopping-cart__item-image img {
    width: 100%;
    height: 100%;
}

.shopping-cart__item-quantity {
    display: flex;
}

.shopping-cart__item-quantity input[type="number"] {
    -moz-appearance: textfield;
    margin: 0;
    font: 1.5rem;
    color: #060329;
    width: 20px;
    text-align: center;
    border: none;
    color: var(--tertiary-color);
    background: var(--primary-color);
}

.shopping-cart__item-quantity button {
    color: #060329;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: #fff;
    color: var(--tertiary-color);
}

.shopping-cart__item-quantity #decrement {
    padding: .5rem .5rem .5rem 1rem;
    border-radius:45px 0 0 45px ;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.shopping-cart__item-quantity #increment {
    padding: .5rem 1rem .5rem .5rem;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 0 45px 45px 0;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shopping-cart__item-delete-btn a {
    padding: .5rem;
    text-decoration: none;
}

.shopping-cart__item-delete-btn i {
    font-size: 1.3rem;
    color: var(--secondary-color);
}

.shopping-cart__item-delete-btn i:hover {
    color: #e22121;
}

.shopping-cart__continue {
    margin: 0 2em;
}

.shopping-cart__continue a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: .5rem;
}
.shopping-cart__continue a:hover {
    text-decoration: underline;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ----------------[ SHOPPING ORDER SUMMARY ]---------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.shopping-cart__order-summary {
    flex-basis: 30%;
    background: var(--primary-color);
}

/* [ SUBTOTAL ] */

.shopping-cart__order-summary .item__subtotal {
    padding: 0 1em;
    border-bottom: 0.6px solid var(--tertiary-color);
    color: var(--tertiary-color);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

/* CHECKOUT BUTTON */

.shopping-cart__order-summary .item__checkout {
    width: 100%;
    padding: 1rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart__order-summary .item__checkout input {
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    // padding: 0 1em;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}