// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.confirmation-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.confirmation-page__wrapper {
    height: 400px;
    max-width: 25em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
    padding: 1em 2em;
}

.confirmation__icon {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation__icon i {
    font-size: 10rem;
    color: tomato;
}

.confirmation__button {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirmation__button-content {
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: tomato;
}

.confirmation__button a {
    text-decoration: none;
    width: 100%;
    background: tomato;
    // background: var(--primary-color);
    color: var(--tertiary-color);
    margin: 0 1em;
    border-radius: 1em;
}

.menu-links--profile {
    pointer-events: none;
}