<header>
    <div class="header__row">
        <div class="header__logo">
            <h1><a href="<%= items_path %>">SCP</a></h1>
        </div>
        <div class="header__navigation-links">
            <div id="navigation__cart" class="navigation__cart">

                <%= link_to item_path(1), id: "add-to-cart", remote: true, style: "padding: .5em;" do %>
                    <i class="fa fa-shopping-cart"></i>
                <% end %>

                <p class="cart-quantity"><%= session[:ShoppingCartNoOfItems] %></p>
            </div>

            <div id="navigation__profile" class="navigation__profile">
                <div class="content">
                    <p><%= session[:user]["name"] %></p> <i class="fa fa-user"></i>
                </div>
            </div>

            <div id="navigation__modal-menu" class="navigation__modal-menu">
                <div class="menu-name">
                    <h3>ACCOUNT</h3>
                </div>
                <div class="menu-links">
                    <ul>
                        <li><a class="menu-links--profile" href="javascript:void(0)">PROFILE</a></li>
                        <li><%= link_to 'LOGOUT', logout_path, :method => :delete, :class => 'logout', :data => { :confirm => 'Are you sure?'} %></li>
                    </ul>
                </div>
            </div> 

        </div>
    </div>
</header>

<%= javascript_pack_tag 'header' %>